<button type="button" id="HideFooterBtn" class="hasSVG">
    <i class="fas fa-lg fa-arrows-alt-v"></i>
</button>
<footer class="contentFrame absParent">
    <div id="FooterContCont" class="flexRow flexSpaceBetween hiddenTrue">
        <div id="FooterLeft"></div>
        <div id="FooterMiddle">
            <input type="button" id="ContactAdminBtn" class="btnTextBgGreen" value="contact" />&nbsp;
            <!--<input type="button" class="btnTextBgGreen" value="help" />-->
            <input type="button" id="BetaInfoBtn" class="btnTextBgGreen" value="beta info" />
        </div>
        <div id="FooterRight">Created by Odin von Doom</div>
    </div>
</footer>