<head>
    <meta charset="utf-8" />
    <title>Debatabase</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">

    <link rel="icon" type="image/png" href="Images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="Images/favicon-16x16.png" sizes="16x16" />

    <link rel="stylesheet" type="text/css" href="CSS/imgImports.css" />
    <link rel="stylesheet" type="text/css" href="CSS/svgMgmt.css" />
    <link rel="stylesheet" type="text/css" href="CSS/animate.css" />
    <link rel="stylesheet" type="text/css" href="CSS/general.css" />
    <link rel="stylesheet" type="text/css" href="CSS/siteOverlap.css" />
    <link rel="stylesheet" type="text/css" href="CSS/frame.css" />
    <link rel="stylesheet" type="text/css" href="CSS/sidebarMain.css" />
    <link rel="stylesheet" type="text/css" href="CSS/pages.css" />
    <link rel="stylesheet" type="text/css" href="CSS/tree.css" />
    <link rel="stylesheet" type="text/css" href="CSS/sliderLeft.css" />
    <link rel="stylesheet" type="text/css" href="CSS/sliderTop.css" />
    <link rel="stylesheet" type="text/css" href="CSS/sliderRight.css" />

    <link rel="stylesheet" type="text/css" href="CSS/tabbedBox.css" />
    <link rel="stylesheet" type="text/css" href="CSS/progressBar.css" />
    <link rel="stylesheet" type="text/css" href="CSS/meterBar.css" />
    
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="ejs.min.js"></script>
    <script type="text/javascript" src="SVG/fontawesome-all.min.js"></script>

    <script type="text/javascript" src="globals.js"></script>
    <script type="text/javascript" src="consts.js"></script>
    <script type="text/javascript" src="supportFuncs.js"></script>
    <script type="text/javascript" src="utility.js"></script>
    <script type="text/javascript" src="user.js"></script>
    <script type="text/javascript" src="network.js"></script>
    <script type="text/javascript" src="elemDyns.js"></script>
    <script type="text/javascript" src="animationCtrl.js"></script>
    <script type="text/javascript" src="templateHdlr.js"></script>
    <script type="text/javascript" src="header.js"></script>
    <script type="text/javascript" src="sideBar.js"></script>
    <script type="text/javascript" src="pageSearch.js"></script>
    <script type="text/javascript" src="pageActivity.js"></script>
    <script type="text/javascript" src="pageConns.js"></script>
    <script type="text/javascript" src="pageProfile.js"></script>
    <script type="text/javascript" src="pageSettings.js"></script>
    <script type="text/javascript" src="pageHdlr.js"></script>
    <script type="text/javascript" src="canvasInput.js"></script>
    <script type="text/javascript" src="canvas2dDrawLayerCtrl.js"></script>
    <script type="text/javascript" src="treeMap.js"></script>
    <script type="text/javascript" src="treeTransitionMngr.js"></script>
    <script type="text/javascript" src="treeHdlr.js"></script>
    <script type="text/javascript" src="footer.js"></script>
    <script type="text/javascript" src="overlapCont.js"></script>
    <script type="text/javascript" src="transMngr.js"></script>
    <script type="text/javascript" src="sliderLeft.js"></script>
    <script type="text/javascript" src="sliderTop.js"></script>
    <script type="text/javascript" src="sliderRight.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>