<li class="parentArg flexRow flexSpaceBetween transFadeRotColl greenHeaderOp0p15 insulate" data-type="<?= arg.type ? arg.type : 'roots' ?>" data-index="<?= idx ?>" data-revision="<?= arg.revision ? arg.revision.list.length + 1 : -1 ?>">
    <span class="argAssertion overFlowEllipsis alignLeft"><?= arg.assertion ?></span>
    <button type="button" class="argGoToBranchBtn hasSVG" data-branchIdx="<?= idx ?>" title="Make focal argument">
        <i class="fas fa-lg fa-map-marker-alt"></i>
    </button>
</li>