
<button type="button" class="idxDecrBtn hasSVG">
    <i class="fas fa-chevron-circle-left"></i>
</button>
<span class="idxDisp">
    <span class="currText">0</span>/<span class="totalText">0</span>
</span>
<button type="button" class="idxIncrBtn hasSVG">
    <i class="fas fa-chevron-circle-right"></i>
</button>